.countries-container {
  background-color: var(--color-bg-main);
  padding-top: 25px;
  min-height: 100vh;
  height: max-content;
}
.country-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
  width: 1150px;
  margin: auto;
}
.loading-text {
  color: var(--font-color);
  font-size: 62px;
  margin: 100px auto 0 auto;
  font-family: var(--font-main);
}
