.countries-container {
  background-color: var(--color-bg-main);
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 100vh;
  height: max-content;
}
.country-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
  width: 1150px;
  margin: auto;
}
.loading-text {
  color: var(--font-color);
  font-size: 62px;
  margin: 100px auto 0 auto;
  font-family: var(--font-main);
}
@media only screen and (max-width: 1175px) {
  .country-card-container {
    width: 1100px;
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  .country-card-container {
    width: 700px;
  }
}
@media only screen and (max-width: 675px) {
  .country-card-container {
    width: 500px;
  }
}
@media only screen and (max-width: 517px) {
  .country-card-container {
    width: 250px;
  }
}
