.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 80px;
  padding-right: 100px;
  padding-bottom: 25px;
  font-family: var(--font-main);
  background-color: var(--color-bg-main);
}

.search-bar form img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  left: 33px;
}
.search-bar form input {
  font-family: inherit;
  padding: 15px 15px 15px 40px;
  width: 250px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-bg-secondary);
  color: var(--font-color);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.search-bar form input::placeholder {
  color: var(--font-color);
}
select {
  -webkit-appearance: none;
  appearance: none;
}
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "▼";
  color: var(--font-color);
  font-size: 1rem;
  top: 14px;
  right: 10px;
  position: absolute;
}
.filter-bar select {
  font-family: inherit;
  padding: 15px 40px 15px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-bg-secondary);
  color: var(--font-color);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.filter-bar select:hover {
  cursor: pointer;
}
.filter-bar option {
  margin: 10px;
}
@media only screen and (max-width: 675px) {
  .search-container {
    flex-direction: column;
  }
  .filter-bar {
    margin-top: 32px;
    margin-left: 20px;
  }
  .select-wrapper::after {
    right: 0;
    left: 120px;
  }
  .search-bar form input {
    width: 300px;
  }
}
@media only screen and (max-width: 572px) {
  .search-bar form input {
    width: 200px;
  }
}
@media only screen and (max-width: 320px) {
  .search-container {
    padding-left: 10px;
  }
  .search-bar form img {
    top: 39px;
    left: 11px;
  }
  .filter-bar {
    margin-left: 0;
  }
}
