.single-content {
  display: none;
}
.single-country-container {
  background-color: var(--color-bg-main);
}
.content-container {
  display: flex;
  flex-direction: row;
  column-gap: 75px;
  width: max-content;
  height: 75vh;
  margin: auto;
}
@media only screen and (max-width: 950px) {
  .content-container {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}
