.single-country-container {
  background-color: var(--color-very-dark-blue);
}
.content-container {
  display: flex;
  flex-direction: row;
  column-gap: 75px;
  width: max-content;
  height: 75vh;
  margin: auto;
}
