.single-back-btn {
  padding-top: 50px;
}
.single-back-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  font-family: var(--font-main);
  color: var(--font-color);
  font-size: 18px;
  background-color: var(--color-bg-secondary);
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  margin: 0 0 50px 50px;
  -webkit-box-shadow: 0px 0px 10px 0px hsl(200, 15%, 8%);
  -moz-box-shadow: 0px 0px 10px 0px hsl(200, 15%, 8%);
  box-shadow: 0px 0px 10px 0px hsl(200, 15%, 8%);
  transition: all 0.15s ease;
}
.single-back-btn button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px var(--font-color);
  -moz-box-shadow: 0px 0px 5px 0px var(--font-color);
  box-shadow: 0px 0px 5px 0px var(--font-color);
}
.single-back-btn button:active {
  opacity: 80%;
}

img.backward-icon {
  width: 25px;
}
