@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
:root {
  /* background semi-dark */
  --color-bg-secondary: hsl(209, 23%, 22%);
  /* background dark */
  --color-bg-main: hsl(207, 26%, 17%);
  --color-bg-main-2: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  /* font color white */
  --font-color: hsl(0, 0%, 100%);
  --font-main: "Nunito Sans", sans-serif;
  --font-16px: 16px;
  --font-14px: 14px;

  /* font-color */
  --font-color: hsl(0, 0%, 100%);
  /* background-main */
  --color-bg-main: hsl(207, 26%, 17%);
  /* background-secondary */
  --color-bg-secondary: hsl(209, 23%, 22%);
}
body.dark-mode {
  /* font-color */
  --font-color: hsl(200, 15%, 8%);
  /* background-main */
  --color-bg-main: hsl(0, 0%, 100%);
  /* background-secondary */
  --color-bg-secondary: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
